<table style="height: 100%; width: 100%;">
    <tr>
        <td colspan="2" style="height: 60px;">
            <p-menubar [model]="items"></p-menubar>
        </td>
    </tr>
    <tr>
        <td style="width: 300px;">
            <p-tree [value]="files" [virtualScroll]="true" virtualNodeHeight="33" scrollHeight="flex"></p-tree>
        </td>
        <td>            
                <p-tabView> 
                    <p-tabPanel header="Header 1">
                        <p-scrollPanel [style]="{width: '100%', height: '800px'}" > 
                            <div style="height: 2000px; background-color: rgb(255, 0, 0);"></div>
                        </p-scrollPanel>                     
                        
                    </p-tabPanel>
                    <p-tabPanel header="Header 2">
                        Content 2
                    </p-tabPanel>
                    <p-tabPanel header="Header 3">
                        Content 3
                    </p-tabPanel>
                </p-tabView>
            
        </td>
    </tr>

</table>
